<section>

  <button class="btn btn-primary" (click)="search()">{{btnTitle}}</button>

    <table class="table table-striped table-hover table-dark">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name and surname</th>
          <th>E-mail address</th>
          <!-- <th>Actions</th> -->
        </tr>
      </thead>
      <tbody *ngIf="isLoaded == true">
        <tr [ngClass]="{'table-warning': student.id == 2, 'table-success': student.id > 8}" *ngFor="let student of students">
          <td>{{student.id}}</td>
          <td>{{student.name | uppercase}}</td>
          <td>{{student.email}}</td>
          <!-- <td>
            <a href="#" class="button button-green">Edytuj</a>
            <button class="button button-red">Usuń</button>
          </td> -->
        </tr>
      </tbody>
    </table>

    <div *ngFor="let student of students">
      <h4>{{student.name}}</h4>
      <p>{{student.email}}</p>
    </div>
  </section>
