<section>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Imię i nazwisko</th>
          <th>Adres e-mail</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Jan Kowalski</td>
          <td><a href="mailto:jan@kowalski.pl">jan@kowalski.pl</a></td>
          <td>
            <a href="#" class="button button-green">Edytuj</a>
            <button class="button button-red">Usuń</button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Adam Kowalski</td>
          <td><a href="mailto:adam@kowalski.pl">adam@kowalski.pl</a></td>
          <td>
            <a href="#" class="button button-green">Edytuj</a>
            <button class="button button-red">Usuń</button>
          </td>
         </tr>
         <tr>
          <td>3</td>
          <td>Marian Ziemniak</td>
          <td><a href="mailto:adam@kowalski.pl">marian@ziemniak.pl</a></td>
          <td>
            <a href="#" class="button button-green">Edytuj</a>
            <button class="button button-red">Usuń</button>
          </td>
         </tr>
      </tbody>
    </table>
  </section>
