<h4>Dodaj studenta</h4>

<form>
    <!-- Imie i nazwisko studenta -->
<div style="margin-top: 10px">
    <label class="form-label">Imię i nazwisko: </label>
    <input class="form-control" placeholder="Wprowadz imie i nazwisko" #name>
</div>

    <!-- Email studenta -->
    <div style="margin-top: 10px">
        <label class="form-label">Email: </label>
        <input class="form-control" placeholder="Wprowadz email" #email>
    </div>

    <!-- Przycisk zapisu -->
    <div style="margin-top: 20px">
        <button class="btn btn-success">Zapisz</button>

    </div>
</form>